# Voosh Task-2

-  In this jupyter notebook you can explore
    - Cleaning of the data, Identifing and removing missing values, duplicate values and the unwanted values from the data. 
    - Sentiment analysis of the Feebcak that are given for the resturent by the peple.

## Importing packages

In [1]:
#required packages
import pandas as pd
import warnings
from transformers import pipeline
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
from sklearn.metrics import accuracy_score

## Data
- In this section you can see how data is exported from excel sheets and converting into pandas dataframe.
- Pandas is a built in libreary for python which is used for the creating data frames and manipilating, analysis of the data.

In [2]:
#importig data from xcel sheets and converting it into pandas dataframe
data = pd.read_excel('Data/Data.xlsx')

In [3]:
#overview of the data 
data.head()

,Order Id,Order Status,Item Name,Item Quantity,Rating,Feedback
0,107098745382,CANCELLED,Set of Chapatis (4 - Chapatis),2.0,NaN,NaN
1,107098745382,CANCELLED,"2 Paneer Paratha, Curd & Pickle Meal",1.0,NaN,NaN
2,107098745382,CANCELLED,"2 Gobhi Paratha, Curd & Pickle Meal",1.0,NaN,NaN
3,107098745382,CANCELLED,Bhindi Masala,1.0,NaN,NaN
4,107022708087,DELIVERED,"Voosh Paneer Premium Thali with Sweet, Butter ...",1.0,NaN,NaN

In [4]:
#shape of the data
print(f'total number of data samples = {data.shape[0]}')
print(f'total number of features = {data.shape[1]}')

total number of data samples = 6934
total number of features = 6

## Data cleaning
- Data cleaning is a process of cleaning the data, Removing or Relacing of misssing,unwanted,duplicate and inaccurate values from the data. In this section you can see
    -  Deleating duplicate values in the data.
    -  Cleaning unwanted values in the data.
    -  Removing of null values in the data.

### Deleating duplicate values
-  duplicate values are those which are repeated with exactly same values more than once pandas has a inbuilt class to find and removing of the duplicate values.

In [5]:
Number_of_duplicate_values = data.duplicated().sum()
print(f'Total number of duplicate values in the data = {Number_of_duplicate_values}')
print('duplicate rows are shown below')
display(data[data.duplicated()].head())
print('Removing duplicate values....')
cleaned_data = data.drop_duplicates()
print('Duplicate values have been removed')
print(f'Number of data samples after removing duplicates = {cleaned_data.shape[0]} ')

Total number of duplicate values in the data = 40
duplicate rows are shown below

,Order Id,Order Status,Item Name,Item Quantity,Rating,Feedback
109,106329362167,DELIVERED,Homely Chicken Masala Thali with Sweet,1.0,1 VERY BAD,NaN
151,105643922738,DELIVERED,Homely Bhindi Masala Thali with Sweet,1.0,NaN,NaN
218,107683554593,DELIVERED,Homely Paneer Masala Thali with Sweet,1.0,NaN,NaN
288,1068433533,DELIVERED,Homely Aloo Gobhi Thali with Sweet,1.0,NaN,NaN
372,105978332768,DELIVERED,Homely Paneer Masala Thali with Sweet,1.0,NaN,NaN

Removing duplicate values....
Duplicate values have been removed
Number of data samples after removing duplicates = 6894

### Cleaning unwanted data
- Removing unecessary data that are not usefull for the data analysis and model building.
- In this data oders that are cancelled are not necessary hence they are removing from the data.

In [6]:
#total number of CANCELLED oders
number_of_canceled_oders = data[data['Order Status'] == 'CANCELLED'].shape[0]
print(f'Toatal number of cancelled oders = {number_of_canceled_oders}')
##removing CANCELLED oders
print('Removing cancelled oders ......')
cleaned_data = cleaned_data[cleaned_data['Order Status'] != 'CANCELLED']
print('Cancelled has been deleted')
print(f'Number of data samples after removing cancelled oders = {cleaned_data.shape[0]}')

Toatal number of cancelled oders = 150
Removing cancelled oders ......
Cancelled has been deleted
Number of data samples after removing cancelled oders = 6744

### Removing null values
- Null values are those which having empty values in the data. You have to remove it from the data or it can make diffrence in the data analysis and on model results. Many machine learnig algorithams dose work if there are null values in the dataset.

In [7]:
#removing blank values in feedback features
print('Removing blank values in feedback ....')
cleaned_data.dropna(subset=['Feedback'],inplace=True)
print('Blank values removed')
print(f'Number of data samples after cleaning data = {cleaned_data.shape[0]}')
print(f'Number of features after cleaning data = {cleaned_data.shape[1]}')

Removing blank values in feedback ....
Blank values removed
Number of data samples after cleaning data = 231
Number of features after cleaning data = 6

# Data analysis
- Data analysis has been done in google data studios and you can acess it [here](https://datastudio.google.com/reporting/b33b9123-993c-43b4-bc16-0fb068a37b88)

<img src="https://imgur.com/g6gqsY5.png" >

# Stentiment analysis
- sentiment analysis is a process of determining whether the feedback or the piece of writing is positive or negitive. This will help to gain insights or analysis of the people opinion or the needs that are expressed in the feedback
- Huggiesface is an open source provider of natural language processing. Big companies like Aplle, Monzo and Bing uses its librarey for the production.
- This liberary has been used for the sentiment analyis of the feedback

In [8]:
#intializing classifier from huggiesface for sentiment-analysis
classifier = pipeline('sentiment-analysis')

In [9]:
# Finding sentiment confidence of sentiment for each feedback using huggisface api and adding them in sentiment column
#empty list to store stentiment of each feedback
sentiment_list = []
#empty list to store confidence level of each sentiment
confidence_list = []
#looping over each feedback and get score and sentiment of it
for i in range(cleaned_data.shape[0]):
    result = classifier(cleaned_data['Feedback'].iloc[i])
    sentiment = result[0]['label']
    if sentiment == 'POSITIVE':
        sentiment_list.append('Happy')
    else:
        sentiment_list.append('Not Happy')
    confidence_level_= round(result[0]['score']*100,2)
    confidence_list.append(confidence_level_)

In [10]:
#creating sentiment and confidence of sentiment columns
final_data = cleaned_data
final_data['Sentiment'] = sentiment_list
final_data['confidence of sentiment in percentage'] = confidence_list

In [11]:
#overveiw of the final data
final_data.head()

,Order Id,Order Status,Item Name,Item Quantity,Rating,Feedback,Sentiment,confidence of sentiment in percentage
18,10701530888,DELIVERED,Homely Dal Tadka Thali with Sweet,1.0,1 VERY BAD,I don't think it's delivery guy fault but pack...,Not Happy,99.97
19,10701530888,DELIVERED,Dal Tadka Rice Bowl with Butter Milk,1.0,1 VERY BAD,I don't think it's delivery guy fault but pack...,Not Happy,99.97
33,106989449753,DELIVERED,Homely Chicken Masala Thali with Sweet,1.0,5 LOVED IT,I liked the quantity of the food and the taste.,Happy,99.98
49,106762961007,DELIVERED,Homely Bhindi Masala Thali with Sweet,1.0,2 BAD,"Bhindi was very raw, butter milk had a foul smell",Not Happy,99.78
50,106762961007,DELIVERED,Butter Milk(300 ml),1.0,2 BAD,"Bhindi was very raw, butter milk had a foul smell",Not Happy,99.78

In [12]:
# converting pandas dataframe back to excel sheet
final_data.to_excel('finaldata.xlsx')

# Result
- In this section, you can see the performance of the model.
- To evaluate the performance of the model Target variable is required to compare with the results that are given by the model.
- I have taken Ratings as a primary target variable to evaluate the performance of the model.
- I have created a column called Target and added values based on the Ratings.
- If ratings are 4 GOOD and 5 LOVED IT target value becomes Happy.
- if ratings are 2 BAD and 1 VERY BAD target value becomes Not Happy.
- For a rating that is 3 AVERAGE, there are both positive and negative feedback values. There are 45 feedback's that having an Average rating so I have examined feedbacks manually and dived them into positive and negative and added them in the target column.
- After created the target column, I have evaluated the performance of the model, and the model is performing at an accuracy of 93.6%.
- The performance of the model is not that great because of the Miss-Labeling of the data. For Negative feedback, the rating was given as Positive. For example,
- As shown in the below table for 1st Feedback Onion Dosa was extra spicy..please reduce green chilies as it gets really difficult to eat that model is predicting Not Happy but in the rating, customers have given 5 LOVED IT rating. because of this type of Miss-Labeling data performance of the model has been reduced.
<img src="https://imgur.com/Af40aWC.png" >

In [13]:
# Adding target variable
target_data = final_data.copy()
target_data['target'] = final_data['Rating']
target_data['target'] = target_data['target'].replace(['1 VERY BAD','2 BAD'],'Not Happy')
target_data['target'] = target_data['target'].replace(['5 LOVED IT','4 GOOD'],'Happy')

In [14]:
#Replacing average rating values
target_data['target'].replace('3 AVERAGE','Not Happy',inplace=True)
target_data['target'][target_data['Order Id']==106560421065] = target_data['target'][target_data['Order Id']==106560421065].replace('Not Happy','Happy')

In [15]:
y_true = target_data['target']
y_pred = target_data['Sentiment']
Accurecy_score = accuracy_score(y_true, y_pred, normalize=True, sample_weight=None)
print(f'Accurecy of the model={round(Accurecy_score * 100,1)}%')

Accurecy of the model=93.5%